.btn-reset {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    background: rgba(255, 255, 255, 0);
}
.btn {
    &-bars {
        margin-left: 20px;
        padding: 0;
        width: 2.8rem;
    }
    &-bar {
        font-size: 2rem;
        color: $c-dark;
        @include respond-to(small) {
            font-size: 2.5rem;
        }
    }
}